<div id="contact-bg">
  <div class="container center">
    <h1>Contact</h1>
    <form action="https://formspree.io/chronusband@gmail.com" class="form-horizontal" role="form" method="POST">
      <div class="form-group">
        <div class="col-xs-12">
          <label for="email" class="control-label"><span>E-mail</span></label>
          <input type="email" name="_replyto" class="form-control align-left" placeholder="example&#64;email.com">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="message" class="control-label"><span>Message</span></label>
          <textarea name="message" class="form-control" rows="4"></textarea>
          <input class="button" name="submit" type="submit" value="SEND">
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Footer Open -->
<footer class="footer">
    <div class="container">
      <div class="footerText">
        <div class="row">
          <div class="col-xs-6 col-md-6 align-left">
            <img src="img/logo/logo_black.png" alt="Chronus Logo" class="footerLogo">
          </div>
          <div class="col-xs-6 col-md-6 social-media align-right">
            <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__black_1024.png" alt="Chronus on Facebook" /></a>
            <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon_Black.png" alt="Chronus on YouTube" /></a>
            <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016_Black.png" alt="Chronus on Instagram" /></a>
            <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_Black.png" alt="Chronus on Twitter" /></a>
          </div>
        </div>
      </div>
      <div class="footerText">
        <p>&#169; 2018 Jonatan Östling</p>
      </div>
    </div>
  </footer>
  <!-- Footer Close -->
  
<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/gallery-live", "/gallery-promo") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
