<div id="contact-bg">
  <div class="container center">
    <form action="https://formspree.io/chronusband@gmail.com" class="form-horizontal" role="form" method="POST">
      <div class="form-group">
        <div class="col-xs-12">
          <label for="email" class="control-label"><span>E-mail</span></label>
          <input type="email" name="_replyto" class="form-control align-left" placeholder="example&#64;email.com">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="message" class="control-label"><span>Message</span></label>
          <textarea name="message" class="form-control" rows="4"></textarea>
          <input class="send-button" name="submit" type="submit" value="SEND">
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/gallery-live", "/gallery-promo") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
