<div class="bandimage-container">
  <div class="container2">
    <div class="row center">
      <!-- <div class="col-md-12 gear-list">
        <a target="_blank" href="http://www.gibson.com/"><img class="gear-list-img" src="img/partners/Gibson_Script_WHITE_hires.jpg" alt="" width="90px"></a>
        <a target="_blank" href="http://www.prsguitars.com/"><img class="gear-list-img" src="img/partners/prs_logo.png" alt="" width="100px"></a>
        <a target="_blank" href="http://www.sandberg-guitars.de/"><img class="gear-list-img" src="img/partners/sandberg-logo-white.png" alt="" width="100px"></a>
        <a target="_blank" href="http://www.tama.com/eu/"><img class="gear-list-img" src="img/partners/tama-drums-logo.png" alt="" width="100px"></a>
        <a target="_blank" href="https://meinlcymbals.com/"><img class="gear-list-img" src="img/partners/Meinl_Percussion-logo-0D03F37629-seeklogo.com.png" alt="" width="70px"></a>
        <a target="_blank" href="https://www.vater.com/"><img class="gear-list-img" src="img/partners/vater+logo.png" alt="" width="100px"></a>
        <a target="_blank" href="https://www.fractalaudio.com/"><img class="gear-list-img" src="img/partners/fractal_logo-white.png" alt="" width="100px"></a>
        <a target="_blank" href="https://www.kemper-amps.com/"><img class="gear-list-img" src="img/partners/kemper_logo.png" alt="" width="100px"></a>
        <a target="_blank" href="http://www.shure.com/americas/products/microphones"><img class="gear-list-img" src="img/partners/shure-logo.jpg" alt="" width="100px"></a>
      </div> -->
      <div class="col-md-6">
        <img class="band-image" src="img/band/Sebastian2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Oliver2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Svante2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Jonatan2.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Footer Open -->
<footer class="footer">
    <div class="container">
      <div class="footerText">
        <div class="row">
          <div class="col-xs-6 col-md-6 align-left">
            <img src="img/logo/logo_black.png" alt="Chronus Logo" class="footerLogo">
          </div>
          <div class="col-xs-6 col-md-6 social-media align-right">
            <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__black_1024.png" alt="Chronus on Facebook" /></a>
            <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon_Black.png" alt="Chronus on YouTube" /></a>
            <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016_Black.png" alt="Chronus on Instagram" /></a>
            <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_Black.png" alt="Chronus on Twitter" /></a>
          </div>
        </div>
      </div>
      <div class="footerText">
        <p>&#169; 2018 Jonatan Östling</p>
      </div>
    </div>
  </footer>
  <!-- Footer Close -->

<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/gallery-live", "/gallery-promo") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
