<div class="bandimage-container">
  <div class="container2">
    <div class="row center">
      <h3 class="h3 latoTahomaGeneva"><img src="img/logo/rsz_logo.png" style="margin-bottom: 20px;">proudly uses:</h3>
      <div class="col-md-12 gear-list">
        <a target="_blank" href="http://www.gibson.com/"><img class="gear-list-img" src="img/partners/Gibson_Script_WHITE_hires.jpg" alt="" width="90px"></a>
        <a target="_blank" href="http://www.prsguitars.com/"><img class="gear-list-img" src="img/partners/prs_logo.png" alt="" width="100px"></a>
        <a target="_blank" href="http://www.sandberg-guitars.de/"><img class="gear-list-img" src="img/partners/sandberg-logo-white.png" alt="" width="100px"></a>
        <a target="_blank" href="http://www.tama.com/eu/"><img class="gear-list-img" src="img/partners/tama-drums-logo.png" alt="" width="100px"></a>
        <a target="_blank" href="https://meinlcymbals.com/"><img class="gear-list-img" src="img/partners/Meinl_Percussion-logo-0D03F37629-seeklogo.com.png" alt="" width="70px"></a>
        <a target="_blank" href="https://www.vater.com/"><img class="gear-list-img" src="img/partners/vater+logo.png" alt="" width="100px"></a>
        <a target="_blank" href="https://www.fractalaudio.com/"><img class="gear-list-img" src="img/partners/fractal_logo-white.png" alt="" width="100px"></a>
        <a target="_blank" href="https://www.kemper-amps.com/"><img class="gear-list-img" src="img/partners/kemper_logo.png" alt="" width="100px"></a>
        <a target="_blank" href="http://www.shure.com/americas/products/microphones"><img class="gear-list-img" src="img/partners/shure-logo.jpg" alt="" width="100px"></a>
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Sebastian2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Oliver2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Svante2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Jonatan2.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/gallery-live", "/gallery-promo") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
