<div class="homePage">
  <div style="max-width: 1280px; margin: 0 auto;">
  <!-- <div class="container"> -->
    <div class="imageLayoutBlockContainer">
      <a href="/news" class="bg-1 flexImage"><div class="relativeWrapper"><div class="imageH1Sibling"></div><h1 class="imageH1">NEWS</h1></div></a>
      <a href="/shows" class="bg-2 flexImage"><div class="relativeWrapper"><div class="imageH1Sibling"></div><h1 class="imageH1">SHOWS</h1></div></a>
    </div>
    <div class="imageLayoutBlockContainer">
      <a href="/band" class="bg-3 flexImage"><div class="relativeWrapper"><div class="imageH1Sibling"></div><h1 class="imageH1">BAND</h1></div></a>
      <a href="/store" class="bg-4 flexImage"><div class="relativeWrapper"><div class="imageH1Sibling"></div><h1 class="imageH1">MERCH</h1></div></a>
      <a href="/contact" class="bg-5 flexImage"><div class="relativeWrapper"><div class="imageH1Sibling"></div><h1 class="imageH1">CONTACT</h1></div></a>
    </div>
  <!-- </div> -->
  </div>
</div>

<!-- Footer Open -->
<footer class="footer">
    <div class="container">
      <div class="footerText">
        <div class="row">
          <div class="col-xs-6 col-md-6 align-left">
            <img src="img/logo/logo_black.png" alt="Chronus Logo" class="footerLogo">
          </div>
          <div class="col-xs-6 col-md-6 social-media align-right">
            <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__black_1024.png" alt="Chronus on Facebook" /></a>
            <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon_Black.png" alt="Chronus on YouTube" /></a>
            <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016_Black.png" alt="Chronus on Instagram" /></a>
            <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_Black.png" alt="Chronus on Twitter" /></a>
          </div>
        </div>
      </div>
      <div class="footerText">
        <p>&#169; 2018 Jonatan Östling</p>
      </div>
    </div>
  </footer>
  <!-- Footer Close -->