<div class="homePage">
  <div style="max-width: 900px; margin: 0 auto;">
    <img src="../img/gallery/promo/megadethchronus_master_insta.png" width="100%" />
  <!-- <div class="container"> -->
    <div class="imageLayoutBlockContainer">
      <a href="/news" class="imageLayoutBlock1 flexGrow1"><div><h1 class="imageH1">NEWS</h1></div></a>
      <a href="/shows" class="imageLayoutBlock2 flexGrow1"><div><h1 class="imageH1">SHOWS</h1></div></a>
    </div>
    <div class="imageLayoutBlockContainer">
      <a href="/band" class="imageLayoutBlock3 flexGrow1"><div><h1 class="imageH1">BAND</h1></div></a>
      <a href="/store" class="imageLayoutBlock4 flexGrow1"><div><h1 class="imageH1">MERCH</h1></div></a>
      <a href="/contact" class="imageLayoutBlock5 flexGrow1"><div><h1 class="imageH1">CONTACT</h1></div></a>
    </div>
  <!-- </div> -->
  </div>
</div>

<!-- Footer Open -->
<footer class="footer">
    <div class="container">
      <div class="footerText">
        <div class="row">
          <div class="col-xs-6 col-md-6 align-left">
            <img src="img/logo/logo.png" alt="Chronus Logo" class="footerLogo">
          </div>
          <div class="col-xs-6 col-md-6 social-media align-right">
            <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__white_1024.png" alt="Chronus on Facebook" /></a>
            <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon.png" alt="Chronus on YouTube" /></a>
            <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016.png" alt="Chronus on Instagram" /></a>
            <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_White.png" alt="Chronus on Twitter" /></a>
          </div>
        </div>
      </div>
      <div class="footerText">
        <p>&#169; 2018 Jonatan Östling</p>
      </div>
    </div>
  </footer>
  <!-- Footer Close -->