<!-- <div class="mobile-indicator">
  <div class="container4 fill">
    <div id="myCarousel" class="carousel slide" data-pause="null">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="active item">
          <div class="fill" style="background-image:url('img/background-img/pexels-photo-92976_90_2222_mobile.jpg');">
            <div class="container">
              <div class="carousel-caption">
                <h1><span class="">Get &quot;Chronus&quot; on CD Digipak.</span></h1>
                <a href="/store" class="carousel-button" type="button">PRE-ORDER NOW</a>            
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="fill" style="background-image:url('img/background-img/2017-08-18-Chronus-3_mobile.jpg');">
            <div class="container">
              <div class="carousel-caption">
                <h1><span class="">Chronus Scandinavian tour supporting Soilwork.</span></h1>
                <a href="/tour" class="carousel-button" type="button">GET TICKETS NOW</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="fill" style="background-image:url('img/background-img/DSC_7228_Edited2_mobile2.jpg');">
            <div class="container">
              <div class="carousel-caption">
                <h1><span class="">Now signed to EMP Label Group.</span></h1>
                <a href="/news" class="carousel-button" type="button">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pull-center">
        <span class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </span>
        <span class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </span>
      </div>
    </div>
  </div>
</div> /.mobile-indicator -->
<!-- <div class="container4">
  <div class="desktop">
    <div class="container4 fill">
        <div id="myCarousel" class="carousel slide" data-pause="null">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="active item">
              <div class="fill" style="background-image:url('img/background-img/pexels-photo-92976_90_2222.jpg');">
                <div class="container">
                  <div class="carousel-caption">
                    <h1><span class="">Get &quot;Chronus&quot; on CD Digipak.</span></h1>
                    <a href="/store" class="carousel-button" type="button">PRE-ORDER NOW</a>            
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="fill" style="background-image:url('img/background-img/rsz_2017_08_18_chronus-31.jpg');">
                <div class="container">
                  <div class="carousel-caption">           
                    <h1><span class="">Chronus Scandinavian tour supporting Soilwork.</span></h1>
                    <a href="/tour" class="carousel-button" type="button">GET TICKETS NOW</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="fill" style="background-image:url('img/background-img/DSC_7228_Editeddd.jpg');">
                <div class="container">
                  <div class="carousel-caption">
                    <h1><span class="">Now signed to EMP Label Group.</span></h1>
                    <a href="/news" class="carousel-button" type="button">READ MORE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pull-center">
            <span class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </span>
            <span class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </span>
          </div>
        </div>
      </div>
    </div> -->
  <div class="homePage">
    <h1 class="center">WORLD PREMIERE:</h1>
    <div class="videoDiv">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nd7zO6r4ZoY" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- <p class="latoTahomaGeneva">See more content below</p> -->
    </div>
    <!-- Footer Open -->
    <footer class="footer">
      <div class="container footerText">
        <h2>Social Media</h2>
        <div class="row">
          <div class="col-xs-6 col-md-6 align-left">
            <img src="img/logo/logo.png" alt="Chronus Logo" class="footerLogo">
          </div>
          <div class="col-xs-6 col-md-6 social-media align-right">
            <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__white_1024.png" alt="Chronus on Facebook" /></a>
            <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon.png" alt="Chronus on YouTube" /></a>
            <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016.png" alt="Chronus on Instagram" /></a>
            <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_White.png" alt="Chronus on Twitter" /></a>
          </div>
        </div>
      </div>
      <div class="container footerText">
        <p>&#169; 2017 Jonatan Östling</p>
      </div>
    </footer> <!-- Footer Close -->
  </div> <!-- Home Page Close -->
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var handle_nav = function(e) {
      e.preventDefault();
      var nav = $(this);
      nav.parents('.carousel').carousel(nav.data('slide'));
    }
    $('.carousel').carousel({
      interval: 5200
    })
    .on('click', '.carousel-control', handle_nav);

    $.each( jQuery('.carousel .item'), function( i, val ) {
      $(this).css('background-image','url('+$(this).find('img').attr('src')+')').css('background-size', 'cover').find('img').css('visibility','hidden');
    });
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/gallery-live", "/gallery-promo") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
