<div class="container center news">
<div class="row">
  <h1><span class="text-uppercase">NEWS</span></h1>    
  <div class="col-sm-12 col-md-12">
    <h3 class="highlight3">29.SEP.2017</h3>
    <div class="thumbnail">
      <div class="caption">
        <h1><span class="text-uppercase">SCANDINAVIAN TOUR PROMO 2017</span></h1>
      </div>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QenJLge8Ezo" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="caption">
        <p class="text-left"><strong>Make sure</strong> to catch Chronus live on the Scandinavian tour supporting <a target="_blank" class="grey" href="https://www.facebook.com/soilwork/">Soilwork</a>, with bands such like <a target="_blank" class="grey" href="https://www.facebook.com/TheUnguided/">The Unguided</a> and <a target="_blank" class="grey" href="https://www.facebook.com/Ikinaface/">Ikinä</a>.</p>
        <a href="http://bandsintown.com/soilwork" class="highlight2 newsAnchor" type="button">SEE TOUR DATES</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12">
    <h3 class="highlight3">19.SEP.2017</h3>
    <div class="thumbnail">
      <div class="caption">
        <h1><span class="text-uppercase">CHRONUS SIGNS TO EMP LABEL GROUP</span></h1>
      </div>
      <img src="img/background-img/Chronus2017.jpg" alt="Chronus signs with EMP Label Group ROCK N GROWL article image" title="Chronus signs with EMP Label Group banner image">
      <div class="caption">
        <p class="text-left"><strong>October 28th, 2017</strong> marks the official European release of Chronus’ self-titled debut album on Ellefson Music Productions, aka <strong>EMP LABEL GROUP</strong>, the label of legendary <strong>Megadeth</strong> bassist <strong>David Ellefson</strong>. (With a North American release tentatively planned for 2018.)</p>
        <p class="text-right">- From article: ROCK N GROWL</p>
        <a target="_blank" href="http://www.rockngrowl.com/chronus-signs-to-emp-label-group/" class="highlight2 newsAnchor" type="button">READ FULL ARTICLE</a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-12">
    <h3 class="highlight3">15.SEP.2017</h3>
    <div class="thumbnail">
      <div class="caption">
        <h1><span class="text-uppercase">SCANDINAVIAN TOUR WITH SOILWORK</span></h1>
      </div>
      <img src="img/background-img/tourdatesbanner.jpg" alt="Chronus tour dates banner" title="Chronus tour dates banner image">
      <div class="caption">
        <p class="text-left">Chronus will be supporting <a target="_blank" class="grey" href="https://www.facebook.com/soilwork/">Soilwork</a> for a Scandinavian tour this winter together with <a target="_blank" class="grey" href="https://www.facebook.com/TheUnguided/">The Unguided</a> (for Swedish and Norwegian tour dates) and <a target="_blank" class="grey" href="https://www.facebook.com/Ikinaface/">Ikinä</a> (for Finnish tour dates). To see when rapture is coming to your town, please click the link below.</p>
        <p class="text-right"></p>
        <a href="/tour" class="highlight2 newsAnchor" type="button">TOUR DATES</a>
      </div>
    </div>
  </div>
</div>
<!-- Footer Open -->
<footer class="footer">
  <div class="footerText">
    <h2>Social Media</h2>
    <div class="row">
      <div class="col-xs-6 col-md-6 align-left">
        <img src="img/logo/logo.png" alt="Chronus Logo" class="footerLogo">
      </div>
      <div class="col-xs-6 col-md-6 social-media align-right">
        <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__white_1024.png" alt="Chronus on Facebook" /></a>
        <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon.png" alt="Chronus on YouTube" /></a>
        <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016.png" alt="Chronus on Instagram" /></a>
        <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_White.png" alt="Chronus on Twitter" /></a>
      </div>
    </div>
  </div>
  <div class="footerText">
      <p>&#169; 2017 Jonatan Östling</p>
  </div>
</footer> <!-- Footer Close -->