<div class="container center news">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2 class="highlight3">26.APR.2018</h2>
      <div class="thumbnail">
        <div class="caption">
          <h1><span class="text-uppercase">SHOW ANNOUNCEMENT</span></h1>
        </div>
        <img src="../../img/gallery/promo/rock-the-boat.jpg" alt=""
          title="">
        <div class="caption">
          <p class="text-left"><strong>April 26th, 2018</strong> Chronus will play at <a target="_blank" class="grey" href="https://www.facebook.com/events/2002736999984355/"><strong>ROCK THE BOAT</strong></a> together with
            <a target="_blank" class="grey" href="https://www.facebook.com/OfficialPain/"><strong>Pain</strong></a>, <a target="_blank" class="grey" href="https://www.facebook.com/hauntedofficial/"><strong>The Haunted</strong></a>
            , and <a target="_blank" class="grey" href="https://www.facebook.com/HULKOFF/"><strong>Hulkoff</strong></a>. This is something you don't want to miss.
              See the <a target="_blank" class="grey" href="https://www.facebook.com/events/2002736999984355/"><strong>Facebook Event</strong></a> for more information.</p>
          <a target="_blank" href="https://www.facebook.com/events/2002736999984355/" class="highlight2 newsAnchor" type="button">GET TICKETS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <h2 class="highlight3">7.APR.2018</h2>
      <div class="thumbnail">
        <div class="caption">
          <h1><span class="text-uppercase">SHOW ANNOUNCEMENT</span></h1>
        </div>
        <img src="../../img/gallery/promo/HarryBJames.jpg" alt=""
          title="">
        <div class="caption">
          <p class="text-left"><strong>April 7th, 2018</strong> Chronus will play at <a target="_blank" class="grey" href="https://www.facebook.com/HarryBjamesStockholm/"><strong>Harry B James</strong></a>.
             See the <a target="_blank" class="grey" href="https://www.facebook.com/events/376220962783565/"><strong>Facebook Event</strong></a> for more information.</p>
          <a target="_blank" href="https://www.facebook.com/events/376220962783565/" class="highlight2 newsAnchor" type="button">GET TICKETS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <h2 class="highlight3">23.FEB.2018</h2>
      <div class="thumbnail">
        <div class="caption">
          <h1><span class="text-uppercase">SHOW ANNOUNCEMENT</span></h1>
        </div>
        <img src="../../img/gallery/promo/BaronPosterEleine.jpg" alt="Chronus Eleine support The Tivoli Helsingborg Sweden"
          title="Chronus Eleine support The Tivoli Helsingborg Sweden">
        <div class="caption">
          <p class="text-left"><strong>February 23rd, 2018</strong> Chronus will play support for <a target="_blank" class="grey" href="https://www.facebook.com/eleineofficial/"><strong>ELEINE</strong></a> 
            at the release party of their new album &quot;Until The End&quot;. See the <a target="_blank" class="grey" href="https://www.facebook.com/events/1971355059769902/"><strong>Facebook Event</strong></a> for more information.</p>
          <a target="_blank" href="http://hyperurl.co/ChronusTickets" class="highlight2 newsAnchor" type="button">GET TICKETS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <h2 class="highlight3">06.OCT.2017</h2>
      <div class="thumbnail">
        <div class="caption">
          <h1><span class="text-uppercase">MUSIC VIDEO: 'BARON'</span></h1>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/nd7zO6r4ZoY" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="caption">
          <p class="text-left">Watch Chronus new music video for the song 'Baron', off the self-titled album 'Chronus', released on October 27th
            on Ellefson Music Productions (<a target="_blank" class="grey" href="https://www.emplabelgroup.com/artists.php">Emp Label Group</a>)
            directed by 'René U Valdes' from <a target="_blank" class="grey" href="https://www.facebook.com/Greenworkstelevision/">Greenworks Television</a>.</p>
          <a target="_blank" href="https://www.youtube.com/watch?v=nd7zO6r4ZoY" class="highlight2 newsAnchor" type="button">WATCH ON YOUTUBE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <h2 class="highlight3">29.SEP.2017</h2>
      <div class="thumbnail">
        <div class="caption">
          <h1><span class="text-uppercase">SCANDINAVIAN TOUR PROMO 2017</span></h1>
        </div>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/QenJLge8Ezo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="caption">
          <p class="text-left"><strong>Make sure</strong> to catch Chronus live on the Scandinavian tour supporting <a target="_blank" class="grey"
              href="https://www.facebook.com/soilwork/">Soilwork</a>, with bands such like <a target="_blank" class="grey"
              href="https://www.facebook.com/TheUnguided/">The Unguided</a> and <a target="_blank" class="grey" href="https://www.facebook.com/Ikinaface/">Ikinä</a>.</p>
          <a href="/shows" class="highlight2 newsAnchor" type="button">SEE TOUR DATES</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <h2 class="highlight3">19.SEP.2017</h2>
      <div class="thumbnail">
        <div class="caption">
          <h1><span class="text-uppercase">CHRONUS SIGNS TO EMP LABEL GROUP</span></h1>
        </div>
        <img src="img/background-img/Chronus2017.jpg" alt="Chronus signs with EMP Label Group ROCK N GROWL article image" title="Chronus signs with EMP Label Group banner image">
        <div class="caption">
          <p class="text-left"><strong>October 28th, 2017</strong> marks the official European release of Chronus’ self-titled debut album on
            Ellefson Music Productions, aka <strong>EMP LABEL GROUP</strong>, the label of legendary <strong>Megadeth</strong>            bassist <strong>David Ellefson</strong>. (With a North American release tentatively planned for 2018.)</p>
          <p class="text-right">- From article: ROCK N GROWL</p>
          <a target="_blank" href="http://www.rockngrowl.com/chronus-signs-to-emp-label-group/" class="highlight2 newsAnchor" type="button">READ FULL ARTICLE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12">
      <h2 class="highlight3">15.SEP.2017</h2>
      <div class="thumbnail">
        <div class="caption">
          <h1><span class="text-uppercase">SCANDINAVIAN TOUR WITH SOILWORK</span></h1>
        </div>
        <img src="img/background-img/tourdatesbanner.jpg" alt="Chronus tour dates banner" title="Chronus tour dates banner image">
        <div class="caption">
          <p class="text-left">Chronus will be supporting <a target="_blank" class="grey" href="https://www.facebook.com/soilwork/">Soilwork</a>            for a Scandinavian tour this winter together with <a target="_blank" class="grey" href="https://www.facebook.com/TheUnguided/">The Unguided</a>            (for Swedish and Norwegian tour dates) and <a target="_blank" class="grey" href="https://www.facebook.com/Ikinaface/">Ikinä</a>            (for Finnish tour dates). To see when rapture is coming to your town, please click the link below.</p>
          <p class="text-right"></p>
          <a href="/shows" class="highlight2 newsAnchor" type="button">TOUR DATES</a>
        </div>
      </div>
    </div>
  </div>
</div>