<div style="max-width: 600px;" class="container center">
  <h1>News</h1>
  <div class="row">
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">25.JAN.2019 - 02.FEB.2019</h3>
      <h3 class="h3"><strong>EVERGREY TOUR</strong></h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Sweden</h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/evergreytour.jpg" alt="Megadeth Chronus Baron KB Malmö Malmoe Sweden Dave Mustaine David Ellefson Dirk Verbeuren Kiko Loureiro">
      <p class="text-left">Chronus will play as supporting act on tour together with <a target="_blank" class="blue" href="https://www.facebook.com/Evergrey/"><strong>EVERGREY</strong></a> in Sweden, early 2019.<br /><br />Tour dates:<br />
      <a target="_blank" class="blue" href="https://www.facebook.com/events/199335750965758/"><strong>25.JAN.2019</strong></a> - Linköping, Palatset<br />
      <a target="_blank" class="blue" href="https://www.facebook.com/events/231638274225941/"><strong>26.JAN.2019</strong></a> - Göteborg, Pustervik<br />
      <a target="_blank" class="blue" href="https://www.facebook.com/events/1833153976988497/"><strong>01.FEB.2019</strong></a> - Uppsala, Katalin<br />
      <a target="_blank" class="blue" href="https://www.facebook.com/events/645316909147108/"><strong>02.FEB.2019</strong></a> - Helsingborg, The Tivoli<br /></p>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">29.NOV.2018 - 08.DEC.2018</h3>
      <h3 class="h3"><strong>EUROPEAN TOUR ANNOUNCEMENT</strong></h3>
      <img class="img-circle" src="img/countries/eu-square.png" alt="European union flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Europe</h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/abigailposter.jpg" alt="Abigail Williams European Tour Germany Austria Slovakia Italia France Switzerland Belgium Sarkom Black Metal Chronus The Baron">
      <p class="text-left">Chronus will play as supporting act on tour together with <a target="_blank" class="blue" href="https://www.facebook.com/abigailwilliamsofficial/"><strong>Abigail Williams</strong></a> and <a target="_blank" class="blue" href="https://www.facebook.com/sarkom/"><strong>SARKOM</strong></a> in Europe during the winter of 2018.<br /><br />Tour dates:<br />
      <img class="img-circle" src="img/countries/ger-square.png" alt="German flag" width="25" height="25"><strong>29.NOV.2018</strong> - Erfurt, Germany<br />
      <img class="img-circle" src="img/countries/aut-square.png" alt="Austrian flag" width="25" height="25"><strong>30.NOV.2018</strong> - Vienna, Austria<br />
      <img class="img-circle" src="img/countries/svk-square.png" alt="Slovakian flag" width="25" height="25"><strong>01.DEC.2018</strong> - Kosice, Slovakia<br />
      <img class="img-circle" src="img/countries/aut-square.png" alt="Austrian flag" width="25" height="25"><strong>02.DEC.2018</strong> - Salzburg, Austria<br />
      <img class="img-circle" src="img/countries/it-square.png" alt="Italian flag" width="25" height="25"><strong>03.DEC.2018</strong> - Milan, Italy<br />
      <img class="img-circle" src="img/countries/fr-square.png" alt="French flag" width="25" height="25"><strong>04.DEC.2018</strong> - Nice, France<br />
      <img class="img-circle" src="img/countries/fr-square.png" alt="French flag" width="25" height="25"><strong>05.DEC.2018</strong> - Lyon, France<br />
      <img class="img-circle" src="img/countries/sui-square.png" alt="Suisse flag" width="25" height="25"><strong>06.DEC.2018</strong> - Zurich, Switzerland<br />
      <img class="img-circle" src="img/countries/fr-square.png" alt="French flag" width="25" height="25"><strong>07.DEC.2018</strong> - Volmerange-les-mines, France<br />
      <img class="img-circle" src="img/countries/bel-square.png" alt="Belgian flag" width="25" height="25"><strong>08.DEC.2018</strong> - Chapelle-lez-herlaimont, Belgium<br />
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">06.JUN.2018</h3>
      <h3 class="h3"><strong>CHRONUS DIRECT SUPPORT FOR MEGADETH</strong></h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Malmö, Sweden</h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/megadethchronus_master.png" alt="Megadeth Chronus Baron KB Malmö Malmoe Sweden Dave Mustaine David Ellefson Dirk Verbeuren Kiko Loureiro">
      <p class="text-left"><strong>June 6th, 2018</strong> Chronus will play at <a target="_blank" class="blue" href="https://www.facebook.com/events/639027193153332/"><strong>KB, Malmö</strong></a> together with the legendary <a target="_blank" class="blue" href="https://www.facebook.com/Megadeth/"><strong>MEGADETH</strong></a>.
        All tickets are sold out. See <a target="_blank" class="blue" href="https://www.facebook.com/events/639027193153332/"><strong>Facebook Event</strong></a> for more information.</p>
      <a class="button" target="_blank" href="https://www.facebook.com/events/639027193153332/">READ MORE</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">09.MAY.2018</h3>
      <h3 class="h3"><strong>EXCLUSIVE SHOW</strong></h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Helsingborg, Sweden</h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/chronuspostervinylbarenNY.png" alt="Megadeth Chronus Baron KB Malmö Malmoe Sweden Dave Mustaine David Ellefson Dirk Verbeuren Kiko Loureiro">
      <p class="text-left"><strong>May 9th, 2018</strong> Chronus will play at <a target="_blank" class="blue" href="https://www.facebook.com/events/2106786669597674/"><strong>The Tivoli</strong></a>.
        Don't miss this exclusive show in Chronus' home town. A limited amount of people can enter the venue, so be early. See <a target="_blank" class="blue" href="https://www.facebook.com/events/2106786669597674/"><strong>Facebook Event</strong></a> for more information.</p>
      <a class="button" target="_blank" href="https://www.facebook.com/events/2106786669597674/">READ MORE</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">06.OCT.2017</h3>
      <h3 class="h3"><strong>MUSIC VIDEO: 'BARON'</strong></h3>
      <div style="margin-top: 40px; margin-bottom: 40px;" class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nd7zO6r4ZoY" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="text-left">Watch Chronus new music video for the song <strong>'Baron'</strong>, off the self-titled album 'Chronus', released on October 27th
          on Ellefson Music Productions (<a target="_blank" class="blue" href="https://www.emplabelgroup.com/artists.php"><strong>Emp Label Group</strong></a>)
          directed by <strong>'René U Valdes'</strong> from <a target="_blank" class="blue" href="https://www.facebook.com/Greenworkstelevision/"><strong>Greenworks Television</strong></a>.</p>
      <a class="button" target="_blank" href="https://www.youtube.com/watch?v=nd7zO6r4ZoY">WATCH NOW</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">29.SEP.2017</h3>
      <h3 class="h3"><strong>SCANDINAVIAN TOUR PROMO</strong></h3>
      <div style="margin-top: 40px; margin-bottom: 40px;" class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QenJLge8Ezo" frameborder="0" allowfullscreen></iframe>
      </div>
      <p class="text-left"><strong>Make sure</strong> to catch Chronus live on the Scandinavian tour supporting <a target="_blank" class="blue"
        href="https://www.facebook.com/soilwork/"><strong>Soilwork</strong></a>, with bands such like <a target="_blank" class="blue"
        href="https://www.facebook.com/TheUnguided/"><strong>Unguided</strong></a> and <a target="_blank" class="blue" href="https://www.facebook.com/Ikinaface/"><strong>Ikinä</strong></a>.</p>
      <a class="button" target="_blank" href="https://www.youtube.com/watch?v=QenJLge8Ezo">WATCH NOW</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">19.SEP.2017</h3>
      <h3 class="h3"><strong>CHRONUS SIGNS TO EMP LABEL GROUP</strong></h3>
      <img class="posterImg" width="100%" src="img/background-img/Chronus2017.jpg" alt="Chronus signs with EMP Label Group ROCK N GROWL article image" title="Chronus signs with EMP Label Group banner image">
      <p class="text-left"><strong>October 28th, 2017</strong> marks the official European release of Chronus’ self-titled debut album on
        Ellefson Music Productions, aka <a target="_blank" class="blue" href="https://www.emplabelgroup.com/artists.php"><strong>Emp Label Group</strong></a>, the label of legendary <a target="_blank" class="blue" href="https://www.facebook.com/Megadeth/"><strong>MEGADETH</strong></a> bassist <a target="_blank" class="blue" href="https://www.facebook.com/davidellefson/"><strong>David Ellefson</strong></a>. (With a North American release tentatively planned for 2018.)</p>
      <a target="_blank" href="http://www.rockngrowl.com/chronus-signs-to-emp-label-group/" class="button" style="padding-left: 14px; padding-right: 14px;">FULL ARTICLE</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">15.SEP.2017</h3>
      <h3 class="h3"><strong>SCANDINAVIAN TOUR WITH SOILWORK</strong></h3>
      <img class="posterImg" width="100%" src="img/background-img/tourdatesbanner.jpg" alt="Chronus signs with EMP Label Group ROCK N GROWL article image" title="Chronus signs with EMP Label Group banner image">
      <p class="text-left"><strong>Chronus</strong> will be supporting <a target="_blank" class="blue" href="https://www.facebook.com/soilwork/"><strong>Soilwork</strong></a> for a Scandinavian tour this winter together with <a target="_blank" class="blue" href="https://www.facebook.com/TheUnguided/"><strong>The Unguided</strong></a> (for Swedish and Norwegian tour dates) and <a target="_blank" class="blue" href="https://www.facebook.com/Ikinaface/"><strong>Ikinä</strong></a> (for Finnish tour dates).</p>
    </div>
  </div>
</div>

<!-- Footer Open -->
<footer class="footer">
    <div class="container">
      <div class="footerText">
        <div class="row">
          <div class="col-xs-6 col-md-6 align-left">
            <img src="img/logo/logo_black.png" alt="Chronus Logo" class="footerLogo">
          </div>
          <div class="col-xs-6 col-md-6 social-media align-right">
            <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__black_1024.png" alt="Chronus on Facebook" /></a>
            <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon_Black.png" alt="Chronus on YouTube" /></a>
            <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016_Black.png" alt="Chronus on Instagram" /></a>
            <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_Black.png" alt="Chronus on Twitter" /></a>
          </div>
        </div>
      </div>
      <div class="footerText">
        <p>&#169; 2018 Jonatan Östling</p>
      </div>
    </div>
  </footer>
  <!-- Footer Close -->