<div class="container center">
  <h1>Shows</h1>
  <div class="row">
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">21.JUL.2018</h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Helsingborg, Sweden</h3>
      <h3 style="margin-top: 20px;" class="h3"><strong>HEADLINE</strong><br />Helltown Festival 2018</h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/affischhelltown_greytext.png" alt="Megadeth Chronus Baron KB Malmö Malmoe Sweden Dave Mustaine David Ellefson Dirk Verbeuren Kiko Loureiro">
      <a class="button" target="_blank" href="https://www.facebook.com/events/617220701946853/">READ MORE</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">13.JUL.2018</h3>
      <img class="img-circle" src="img/countries/lt-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Anykščiai, Lithuania</h3>
      <h3 style="margin-top: 20px;" class="h3">Devilstone Festival 2018</h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/devilstone.png" alt="Chronus Baron Devilstone Sweden Dirk Verbeuren Festival Lithuania Liatuen Anykščiai">
      <a class="button" target="_blank" href="https://www.facebook.com/velnioakmuo/">READ MORE</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">06.JUN.2018</h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Malmö, Sweden</h3>
      <h3 style="margin-top: 20px;" class="h3"><strong>MEGADETH</strong><br />(direct support)</h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/megadethchronus_master.png" alt="Megadeth Chronus Baron KB Malmö Malmoe Sweden Dave Mustaine David Ellefson Dirk Verbeuren Kiko Loureiro">
      <a class="button" target="_blank" href="https://www.facebook.com/events/639027193153332/">READ MORE</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">09.MAY.2018</h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Helsingborg, Sweden</h3>
      <h3 style="margin-top: 20px;" class="h3"><strong>HEADLINE</strong><br />The Tivoli</h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/chronuspostervinylbarenNY.png" alt="Rock the boat Silja Line Galaxy The Haunted Pain Hulkoff Chronus Skrikhult Baron Baronen">
      <a class="button" target="_blank" href="https://www.facebook.com/events/2106786669597674/">GET TICKETS</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">26.APR.2018</h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Stockholm, Sweden</h3>
    <h3 style="margin-top: 20px;" class="h3"><strong>ROCK THE BOAT</strong><br />(The Haunted, Pain, Hulkoff)</h3>
      <img class="posterImg" width="550" src="../../img/gallery/promo/rock-the-boat.jpg" alt="Rock the boat Silja Line Galaxy The Haunted Pain Hulkoff Chronus Skrikhult Baron Baronen">
      <a class="button" target="_blank" href="https://www.facebook.com/events/2002736999984355/">GET TICKETS</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">7.APR.2018</h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Stockholm, Sweden</h3>
      <h3 style="margin-top: 20px;" class="h3"><strong>HEADLINE</strong><br />Harry B James</h3>
      <img class="posterImg" width="550" src="../../img/gallery/promo/HarryBJames.jpg" alt="Harry B James Stockholm Kungsträdgården Chronus Baron Baronen">
      <a class="button" target="_blank" href="https://www.facebook.com/events/376220962783565/">GET TICKETS</a>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item center">
      <h3 class="h3">23.FEB.2018</h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Helsingborg, Sweden</h3>
      <h3 style="margin-top: 20px;" class="h3"><strong>ELEINE</strong><br />(direct support)</h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/BaronPosterEleine.jpg" alt="">
      <a class="button" target="_blank" href="http://hyperurl.co/ChronusTickets">GET TICKETS</a>
    </div>
  </div>
  <p>More shows are soon to be announced for 2018. Keep an eye out for dates near you on this platform.</p>
</div>

<!-- Footer Open -->
<footer class="footer">
    <div class="container">
      <div class="footerText">
        <div class="row">
          <div class="col-xs-6 col-md-6 align-left">
            <img src="img/logo/logo_black.png" alt="Chronus Logo" class="footerLogo">
          </div>
          <div class="col-xs-6 col-md-6 social-media align-right">
            <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__black_1024.png" alt="Chronus on Facebook" /></a>
            <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon_Black.png" alt="Chronus on YouTube" /></a>
            <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016_Black.png" alt="Chronus on Instagram" /></a>
            <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_Black.png" alt="Chronus on Twitter" /></a>
          </div>
        </div>
      </div>
      <div class="footerText">
        <p>&#169; 2018 Jonatan Östling</p>
      </div>
    </div>
  </footer>
  <!-- Footer Close -->