<div class="container2 center">
  <h1>Shows</h1>
  <div class="row">
    <div class="col-sm-12 col-lg-12 tour-item black center">
      <h3 class="h3">26.APR.2018</h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Stockholm</h3>
      <h3 class="h3"><span class="latoTahomaGeneva">- Silja Line Galaxy</span></h3>
      <img class="posterImg" width="550" src="../../img/gallery/promo/rock-the-boat.jpg" alt="Rock the boat Silja Line Galaxy The Haunted Pain Hulkoff Chronus Skrikhult Baron Baronen">
      <h2><a target="_blank" href="https://www.facebook.com/events/2002736999984355/"><span class="highlight2">GET TICKETS</span></a></h2>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item black center">
      <h3 class="h3">7.APR.2018</h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Stockholm</h3>
      <h3 class="h3"><span class="latoTahomaGeneva">- Harry B James</span></h3>
      <img class="posterImg" width="550" src="../../img/gallery/promo/HarryBJames.jpg" alt="Harry B James Stockholm Kungsträdgården Chronus Baron Baronen">
      <h2><a target="_blank" href="https://www.facebook.com/events/376220962783565/"><span class="highlight2">GET TICKETS</span></a></h2>
    </div>
    <div class="col-sm-12 col-lg-12 tour-item black center">
      <h3 class="h3">23.FEB.2018</h3>
      <img class="img-circle" src="img/countries/se-square.png" alt="Swedish flag" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Helsingborg</h3>
      <h3 class="h3"><span class="latoTahomaGeneva">- The Tivoli</span></h3>
      <img class="posterImg" width="350" src="../../img/gallery/promo/BaronPosterEleine.jpg" alt="">
      <h2><a target="_blank" href="http://hyperurl.co/ChronusTickets"><span class="highlight2">GET TICKETS</span></a></h2>
    </div>
  </div>
  <p>More shows are soon to be announced for 2018. Keep an eye out for dates near you on this platform.</p>
</div>