<div class="container">
  <h1>Shows</h1>


  <div class="row">
    <div class="col-sm-6 col-lg-4 tour-item black">
      <h2 class="h2">23.FEB.2018</h2>
      <img class="img-circle" src="img/countries/se-square.png" alt="Grundare och VD Byggest Kamal Osmanov" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Helsingborg</h3>
      <h3 class="h3"><span class="latoTahomaGeneva">- The Tivoli</span></h3>
      <h2><a target="_blank" href="http://hyperurl.co/ChronusTickets"><span class="highlight2">GET TICKETS</span></a></h2>
      <img class="posterImg" width="350" src="../../img/gallery/promo/BaronPosterEleine.jpg" alt="">
    </div>
  </div>
  <p>More shows are soon to be announced for 2018. Keep an eye out for dates near you on this platform.</p>
</div>
<!-- <div class="tour-container tour">
    
    <div class="col-sm-6 col-lg-4 tour-item">
      <h2 class="h2">November 11</h2>
      <img class="img-circle" src="img/countries/se-square.png" alt="Offertansvarig Byggest Jahn-Erich Karrenbauer" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Göteborg</h3>
      <h3 class="h3"><span class="latoTahomaGeneva orange">- Brewhouse</span></h3>
      <h3 class="h3 logos">
        <span>
          <img class="bandLogo" src="img/bands/soilwork-logosymbol.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/bands/3540325571_logo.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/logo/rsz_logo.png" alt="" height="30">
        </span>
      </h3>  
      <h2><a target="_blank" href="http://bit.ly/2y9X6OG"><span class="highlight2">GET TICKETS</span></a></h2>
    </div>

    <div class="col-sm-6 col-lg-4 tour-item black">
      <h2 class="h2">November 12</h2>
      <img class="img-circle" src="img/countries/nor-square.png" alt="VVS-ansvarig Byggest Pavel Romasev" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Oslo</h3>
      <h3 class="h3"><span class="latoTahomaGeneva orange">- John Dee</span></h3>
      <h3 class="h3 logos">
        <span>
          <img class="bandLogo" src="img/bands/soilwork-logosymbol.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/bands/3540325571_logo.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/logo/rsz_logo.png" alt="" height="30">
        </span>
      </h3>  
      <h2><a target="_blank" href="http://bit.ly/2xa4IUB"><span class="highlight2">GET TICKETS</span></a></h2>
    </div>
    
    <div class="col-sm-6 col-lg-4 tour-item">
      <h2 class="h2">November 13</h2>
      <img class="img-circle" src="img/countries/se-square.png" alt="Projektansvarig Byggest Emil Majcher" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Linköping</h3>
      <h3 class="h3"><span class="latoTahomaGeneva orange">- Konsert &amp; Kongress</span></h3>
      <h3 class="h3 logos">
        <span>
          <img class="bandLogo" src="img/bands/soilwork-logosymbol.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/bands/3540325571_logo.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/logo/rsz_logo.png" alt="" height="30">
        </span>
      </h3>      
      <h2><a target="_blank" href="http://bit.ly/2fuVAj5"><span class="highlight2">GET TICKETS</span></a></h2>
    </div>
    
    <div class="col-sm-6 col-lg-4 tour-item black">
      <h2 class="h2">November 14</h2>
      <img class="img-circle" src="img/countries/se-square.png" alt="Ekonomiansvarig Byggest Julia Botskova" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Uppsala</h3>
      <h3 class="h3"><span class="latoTahomaGeneva orange">- Katalin</span></h3>  
      <h3 class="h3 logos">
        <span>
          <img class="bandLogo" src="img/bands/soilwork-logosymbol.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/bands/3540325571_logo.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/logo/rsz_logo.png" alt="" height="30">
        </span>
      </h3>      
      <h2><a target="_blank" href="http://bit.ly/2hcZ4Hj"><span class="highlight2">GET TICKETS</span></a></h2>
    </div>
    
    <div class="col-sm-6 col-lg-4 tour-item">
      <h2 class="h2">November 16</h2>
      <img class="img-circle" src="img/countries/fin-square.png" alt="Ekonomiansvarig Byggest Julia Botskova" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Joensuu</h3>
      <h3 class="h3"><span class="latoTahomaGeneva orange">- Kerubi</span></h3>
      <h3 class="h3 logos">
        <span>
          <img class="bandLogo" src="img/bands/soilwork-logosymbol.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/logo/rsz_logo.png" alt="" height="30">
        </span>
        <span>
          <img class="bandLogo" src="img/bands/ikinä.png" alt="" height="20">
        </span>
      </h3>   
      
      <h2><a target="_blank" href="http://bit.ly/2utIp82"><span class="highlight2">GET TICKETS</span></a></h2>
    </div>
    
    <div class="col-sm-6 col-lg-4 tour-item black">
      <h2 class="h2">November 17</h2>
      <img class="img-circle" src="img/countries/fin-square.png" alt="Ekonomiansvarig Byggest Julia Botskova" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Jyvaskyla</h3>
      <h3 class="h3"><span class="latoTahomaGeneva orange">- Lutakko</span></h3>
      <h3 class="h3 logos">
        <span>
          <img class="bandLogo" src="img/bands/soilwork-logosymbol.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/logo/rsz_logo.png" alt="" height="30">
        </span>
        <span>
          <img class="bandLogo" src="img/bands/ikinä.png" alt="" height="20">
        </span>
      </h3>   
      
      <h2><a target="_blank" href="http://bit.ly/2ykufIr"><span class="highlight2">GET TICKETS</span></a></h2>      
    </div>
    
    <div class="col-sm-6 col-lg-4 tour-item">
      <h2 class="h2">November 18</h2>
      <img class="img-circle" src="img/countries/fin-square.png" alt="Ekonomiansvarig Byggest Julia Botskova" width="25" height="25">
      <h3 class="latoTahomaGeneva h3 grey">Helsinki</h3>
      <h3 class="h3"><span class="latoTahomaGeneva orange">- Tavastia</span></h3>
      <h3 class="h3 logos">
        <span>
          <img class="bandLogo" src="img/bands/soilwork-logosymbol.png" alt="" height="20">
        </span>
        <span>
          <img class="bandLogo" src="img/logo/rsz_logo.png" alt="" height="30">
        </span>
        <span>
          <img class="bandLogo" src="img/bands/ikinä.png" alt="" height="20">
        </span>
      </h3>   
      <h2><a target="_blank" href="http://bit.ly/2tLXC76"><span class="highlight2">GET TICKETS</span></a></h2>
    </div>
  </div>
</div>  -->